<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ead_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EAD_App">
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity android:name=".UserProfile" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".UpdateReservation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateReservation"
            android:label="Add Reservation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>